<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="nui://game/ui/jquery.js" type="text/javascript"></script>
    <script src="https://unpkg.com/vue@3.1.4"></script>
    <script src="app/main.js"></script>
    <link href="styles/style.css" rel="stylesheet"></link>
</head>

<body>
    <div id="business_proposal">
        <div class="proposal_form">
            <div class="form_bck"></div>
            <div class="header">Los Santos business proposal</div>
            <div class="form_row">
                <div class="form_right">Name</div><div class="form_left"><input v-model="name" /></div>
            </div>
            <div class="form_row">
                <div class="form_right">Type</div>
                <div class="form_left">
                    <select v-model="type">
                        <option disabled value="">Please select one</option>
                        <option v-for="(value, name) in typeOptions" v-bind:value="name">{{value}}</option>
                    </select>
                </div>
            </div>
            <div class="form_row">
                <div class="form_right">Note</div><div class="form_left"><textarea v-model="note"></textarea></div>
            </div>
            <div class="footer">
                <div class="footer2">
                    <button v-on:click="sign">{{creatorName}} {{creatorSurname}}</button>
                    <div>sign here</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>